altgraph==0.17
appdirs==1.4.4
arrow==1.1.1
asgiref==3.4.1
attrs==19.3.0
backcall==0.1.0
binaryornot==0.4.4
bleach==3.1.1
blis==0.7.4
catalogue==2.0.4
certifi==2021.5.30
chardet==4.0.0
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.1.0/en_core_web_sm-3.1.0-py3-none-any.whl
fastapi==0.65.2
pandas==1.0.1
requests==2.25.1
spacy==3.1.0
uvicorn==0.11.7
